/* global Css code starts */
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}
/* global Css code end */

/* header section Css code starts */
.header-section{
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 0 20px;
    height: 80px;
}

.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* write code for menu icons */
.menu-icon{
    display: none;
    cursor: pointer;
}

ul{
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    padding: 0 90px;
}
li a{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000300
}
/* responsive header code start */

@media screen and (max-width: 768px) {
    .header-section{
        grid-template-columns: 1fr;
        flex-direction: column;
        width: 100%;
        position: relative;
        padding: 15px 0;
    }
    .logo{
        justify-content: start;
        margin-left: 20px;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 20px;
        margin-top: 21px;
    }
    nav{
        position: relative;
    }
    .navbar-hide{
        background-color: #000300;
        text-align: center;
        padding: 60px 0;
        margin-top: 15px;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 100%;
        left: -100vw;
        transition: all ease-in-out 0.8s;
    }
    .navbar-visible{
        background-color: #000300;
        text-align: center;
        padding: 60px 0;
        margin-top: 15px;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        transition: all ease-in-out 0.8s;
    }
    li{
        padding: 15px 0;
    }
    li a{
        color: #fff;
    }
    
}

/* responsive header code end */

/* header section Css code ends */