/* header section Css code starts */
header{
    width: 100%;
    height: auto;
    background-color: #fafafa;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 40px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-icon{
    display: none;
    cursor: pointer;
}
ul{
    display: flex;
    column-gap: 30px;
}
li a{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000300;
    transition: all ease-in-out 0.1s;
}
li a:hover{
    color: #fab700;
}

/* responsive header code start */

@media screen and (max-width: 1300px){
    .header-section{
        padding: 0 20px;
    }
    ul{
        column-gap: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .header-section{
        padding: 0;
    }
    .logo{
        padding-left: 40px;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 22px;
        margin-right: 30px;
    }
    ul{
        display: flex;
        justify-content: center;
    }
    ul li{
        text-align: center;
        padding: 15px;
    }
    ul li a{
        color: #fafafa;
    }
    .navbar-visible{
        background-color: #000300;
        flex-direction: column;
        width: 100%;
        height: 90%;
        position: absolute;
        left: 0;
        padding: 60px 0;
        margin-top: 40px;
        transition: all ease-in-out 0.8s;
    }
    .navbar-hide{
        background-color: #000300;
        flex-direction: column;
        width: 100%;
        height: 90%;
        position: absolute;
        left: -100%;
        padding: 60px 0;
        margin-top: 40px;
        transition: all ease-in-out 0.8s;
    }
}

/* responsive header code end */

/* header section Css code ends */