.marketsector{
    padding: 6rem 12rem;
}
.marketsector h2{
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}
.marketsector .text{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 60px;
    color: #9e9e9e;
}
.carosel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.carosel-info{
    min-width: 200px;
    min-height: auto;
}
.carosel-info .carosel-img{
    height: auto;
    overflow: hidden;
    display: grid;
    justify-content: center;
}
.carosel-info img{
    background-size: cover;
    transition: all ease-in-out 0.5s;
}
.carosel-info img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.carosel-info h3{
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
    transition: all ease-in-out 0.5s;
    text-align: center;
}
.carosel-info h3:hover{
    color: #fab700;
}
.carosel-info p{
    font-size: 1rem;
    line-height: 24px;
    color: #9e9e9e;
    text-align: justify;
}

/* responsive code start */

@media screen and (max-width: 1100px){
    .marketsector{
        padding: 4rem 6rem;
    }
    .carosel{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .marketsector{
        padding: 4rem 2rem;
    }
    .marketsector h2{
        font-size: 28px;
    }
    .carosel{
        grid-template-columns: 1fr;
    }
    .carosel-info{
        width: 100%;
    }
    .carosel-info p{
        max-width: 55%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 550px){
    .marketsector{
        padding: 2rem 1rem;
    }
    .carosel-info p{
        min-width: 85%;
        margin: 0 auto;
        
    }
}

/* responsive code end */