/* global Css code starts */
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul li{
  list-style: none;
}

body{
  font-family: 'Poppins', sans-serif;
}

/* global Css code end */